rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    match /c9_ledger/{document=**} {
      allow read, create: if isAuthenticated();
      allow update, delete: if false;
    }
    match /c9_ledger_blocks/{document=**} {
      allow read, create: if isAuthenticated();
      allow update, delete: if false;
    }

    match /organizations/{document=**} {
      allow read, write: if isAuthenticated();
    }

    match /{collection}/{document=**} {
      allow read, write: if isAuthenticated() 
        && collection != 'c9_ledger' 
        && collection != 'c9_ledger_blocks';
    }
  }
}
